#OMORES{
    width: fit-content;
    padding: 10px;
    border: 4px solid #4A90E2;
    border-radius: 20px;
    box-shadow: 0 0 20px #4A90E2;
    animation: glow 2s infinite alternate;
}

#OMORES img {
    width: 200px; 
    border-radius: 15px;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #4A90E2;
        border-color: #4A90E2;
    }
    to {
        box-shadow: 0 0 25px #00c8ff;
        border-color: #00c8ff;
    }
}
