#GOUYETTE__JARDIN {
    border: 4px solid #FFD700; 
    border-radius: 10px;      
    background-color: #FF0000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-family: 'Arial Narrow';
	color: #FFD700;
}

#GOUYETTE__JARDIN:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#GOUYETTE__JARDIN img {
    width: 100%;
	height: 100%
    border-radius: 8px;
}
