#MESPREUVE {
    transition: transform 0.3s ease, border-color 0.3s ease, border-width 0.3s ease;
    border: 2px solid #000;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('MESPREUVE/phot-css.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;

    color: white;

    border-radius: 20px; 
    overflow: hidden; 
}

#MESPREUVE a {
    color: white !important;
    text-decoration: none;
}

#MESPREUVE:hover {
    transform: scale(1.1); 
    
    border-color: yellow; 
    
    border-width: 5px;
    
    cursor: pointer;
    z-index: 10; 
}

