#BELROSE{
     background: #eae8e8;
    box-shadow: 0 0 15px;
    border-radius: 20px;
    cursor: pointer;
    color: black;

}

#BELROSE:hover{
        background-color: #a3a2a2;
    }

p{
    text-align: cente;
    font-weight: bold;
}
